

<div class="welcome-page" style="background-image: url('/assets/grilled-beef.jpg');
background-size: cover; background-position: center;">
<li class="nav-item">
  <a class="nav-link" style="font-size: x-large" routerLink="/recipe"> Recipe</a>
</li>

<li class="nav-item">
  <a class="nav-link" style="font-size: x-large" routerLink="/step"> Step</a>
</li>
<li class="nav-item">
  <a class="nav-link" style="font-size: x-large" routerLink="/instruction"> Instruction</a>
</li>
<li class="nav-item">
  <a class="nav-link" style="font-size: x-large" routerLink="/ingredientStep"> IngredientStep </a>
</li>
<li class="nav-item">
  <a class="nav-link" style="font-size: x-large" routerLink="/ingredient"> Ingredient</a>
</li>
<li class="nav-item">
  <a class="nav-link" style="font-size: x-large" routerLink="/food"> Food </a>
</li>
</div>
