.nav-item {
  list-style: none;
  margin-bottom: 16px;

  .nav-link {
    display: block;
    padding: 16px;
    background-color: #1d68b2;
    border: 1px solid #ccc;
    border-radius: 18px;
    text-decoration: none;
    color: #030303;
    transition: background-color 0.3s;
    background-color: rgba(255, 236, 208, 0.4);

    &:hover {
      background-color: #e9ecef;
    }
  }
}
