
<div class="welcome-page" style="background-image: url('/assets/bild.jpg');
background-size: cover; background-position: center;">
  <li class="nav-item">
<li class="nav-item">
  <a class="nav-link"  style="font-size: xx-large" routerLink="/ingredientStep/all">All  IngredientStep</a>
</li>
<li class="nav-item">
  <a class="nav-link"  style="font-size: xx-large" routerLink="/ingredientStep/add">Add IngredientStep</a>
</li>

<li class="nav-item">
  <a class="nav-link" style="font-size: xx-large" routerLink="/ingredientStep/find">Find IngredientStep</a>
</li>
</div>
