
<div class="welcome-page" style="background-image: url('/assets/bild.jpg');
background-size: cover; background-position: center;">
  <li class="nav-item">

<li class="nav-item">
  <a class="nav-link" style="font-size: xx-large" routerLink="/instruction/all">All Instruction</a>
</li>
<li class="nav-item">
  <a class="nav-link" style="font-size: xx-large" routerLink="/instruction/add">Add Instruction</a>
</li>

<li class="nav-item">
  <a class="nav-link"style="font-size: xx-large"  routerLink="/instruction/find">Find Instruction</a>
</li>

</div>
